<% breadcrumb :season_edit, @season %>

<div class="Content">
  <%= render 'partials/content_heading', title: t('seasons.edit.title', name: @season.name) %>

  <div class="Content-main">
    <%= form_with model: @season, html: { class: "Form", autocomplete: :off } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
