.CustomerPreview {
  display: flex;
  flex-wrap: wrap;
}

.CustomerPreview-detailsContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-width: 12em;
}

.CustomerPreview-actions {
  flex-basis: 10%;
  justify-content: flex-end;
  margin-left: auto;
  min-width: 6em;
  padding-left: 2rem;
}

.CustomerPreview-name,
.CustomerPreview-item--details {
  min-width: calc(32rem - calc(2 * var(--Page-main-spacing)));
}

.CustomerPreview-details {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;
}

.CustomerPreview-details--bookingsIncome {
  width: 15rem;
}
