<tr>
  <td>
    <span class="Attr">
      <%= item.name %>
    </span>
  </td>

  <td>
    <span class="Attr">
      <%= t("inventories.inventory_types.#{item.inventory_type}") %>
    </span>
  </td>

  <td class="u-textRight">
    <ul>
      <li class="u-inlineBlock">
        <%= link_to t("show"), inventory_path(item) %> ·
      </li>

      <li class="u-inlineBlock">
        <%= link_to t("edit"), edit_inventory_path(item) %>
      </li>
    </ul>
  </td>
</tr>
