<% breadcrumb :new_custom_attribute, @custom_attribute %>

<div class="Content">
  <%= render "partials/content_heading", title: t(".title") %>

  <div class="Content-main">
    <%= form_for [:settings, @custom_attribute], method: "POST", html: { class: "Form", autocomplete: :off } do |f| %>
      <%= render partial: "form", locals: { f: f } %>
    <% end %>
  </div>
</div>
