<div class="Content js-newConsecutiveDaysForm">
  <%= render 'partials/content_heading', title: t('consecutive_days_ranges.new.title') %>

  <div class="Content-main">
    <%= render partial: 'consecutive_days_ranges/form', locals: { f: f } %>
  </div>
</div>
