<% breadcrumb :booking_resource_sku, @booking_resource_sku %>

<div class="Content">
  <%= render 'partials/content_heading', title: t(".title", name: booking_resource_sku.name) %>

  <div class="Content-main">
    <div class="Section">
    </div>
  </div>
</div>

