<% breadcrumb :edit_financial_account, @financial_account %>

<div class="Content">
  <%= render 'partials/content_heading', title: t('financial_accounts.edit.title', name: @financial_account.name) %>

  <div class="Content-main">
    <%= form_for [:settings, @financial_account], method: "PUT", html: { class: "Form", autocomplete: :off } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
