<% turbo_exempts_page_from_cache %>

<% breadcrumb :booking_new %>

<div class="Content">
  <div class="ContenHeading">
    <h1 class="ContentHeading-title">
      <%= t("bookings.new.title") %>
    </h1>
  </div>

  <div class="Content-main">
    <% case @current_step %>
    <% when :select_customer_step %>
      <%= render partial: 'bookings/new/select_customer_step' %>
    <% when :select_product_variant_step %>
      <%= render partial: 'bookings/new/select_product_variant_step' %>
    <% when :request_data_step %>
      <%= render partial: 'bookings/new/request_data_step' %>
    <% end %>
  </div>
</div>
