<% breadcrumb :edit_tag, @tag %>

<div class="Content">
  <%= render 'partials/content_heading', title: t('.title', name: @tag.name) %>

  <div class="Content-main">
    <%= form_for [:settings, @tag], method: "PUT", html: { class: "Form", autocomplete: :off } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
