.BookingResourceSku-ResourceTypeSelection {
  .ResourceType {
    width: 180px;
    margin-bottom: 3rem;
  }

  .ResourceType-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  .ResourceType-link:hover {
    background-color: lightgray;
  }

  .ResourceType-link:active {
    background-color: rgba(lightgray, 0.4);
  }

  .ResourceType-icon .Icon {
    width: 100%;
    height: 100%;
  }
}
