<% breadcrumb :customer_edit, @customer %>

<div class="Content">
  <div class="ContenHeading">
    <h1 class="ContentHeading-title">
      <%= t(".title") %>
    </h1>
  </div>

  <%= form_with model: @customer, html: { class: "Form js-CustomerEditForm", autocomplete: :off } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
