<div class="BookingSuccess">
  <div class="BookingSuccess-Content">
    <h1 class="BookingSuccess-Title">
      <%= t("frontoffice.bookings.success.title") %>
    </h1>

    <p class="BookingSuccess-Description">
      <%= t("frontoffice.bookings.success.description") %>
    </p>
  </div>
</div>
