<% breadcrumb :booking_credit_edit, @booking_credit %>

<div class="Content">
  <div class="Content-main">
    <%= render "partials/content_heading", title: t("booking_credits.edit.headline", name: @booking_credit.booking.title) %>
  </div>

  <%= render "form" %>
</div>
