<div class="SearchButton">
  <a class="MainNav-button SearchButton-button js-searchButton" href="#search" aria-controls="search" aria-expanded="false" id="search-button">
    <div class="MainNav-icon MainNav-icon--open">
      <%= render "partials/icon", name: "search", title: t("search.open") %>
    </div>
    <div class="MainNav-icon MainNav-icon--close">
      <%= render "partials/icon", name: "close", title: t("search.close") %>
    </div>
  </a>
</div>
