<tr>
  <th>
    <%= BookingResourceSkuGroup.human_attribute_name(:name) %>
  </th>

  <th>
    <%= BookingResourceSkuGroup.human_attribute_name(:skus) %>
  </th>

  <th>
    <%= t("versions.event") %>
  </th>

  <th>
    <div class="u-floatRight">
      <%= BookingResourceSkuGroup.human_attribute_name(:full_price) %>
    </div>
  </th>
</tr>
